<div class="col-12 d-flex flex-row align-items-center">
  <img [src]="_cs.usuario.img"
       [alt]="_cs.usuario.nombre"
       class="img-user">
  <h1 class="m-0">Chat</h1>
</div>
<hr>

<div class="app-mensajes" id="app-mensajes">
  <div class="text-right" *ngFor="let chat of _cs.chats">
    <span class="badge badge-primary">Janio</span>
    <p>{{ chat.mensaje }}</p>
  </div>
  <!-- <div>
    <span class="badge badge-success">La Sole</span>
    <p>Este es un mensaje de chat</p>
  </div>
  <div>
    <span class="badge badge-success">La Sole</span>
    <p>Este es un mensaje de chat</p>
  </div>
  <div>
    <span class="badge badge-success">La Sole</span>
    <p>Este es un mensaje de chat</p>
  </div>
  <div>
    <span class="badge badge-success">La Sole</span>
    <p>Este es un mensaje de chat</p>
  </div>
  <div>
    <span class="badge badge-success">La Sole</span>
    <p>Este es un mensaje de chat</p>
  </div>
  <div>
    <span class="badge badge-success">La Sole</span>
    <p>Este es un mensaje de chat</p>
  </div>
  <div>
    <span class="badge badge-success">La Sole</span>
    <p>Este es un mensaje de chat</p>
  </div> -->
</div>

<input type="text" name="mensaje"
       [(ngModel)]="mensaje"
       (keyup.enter)="enviar_mensaje()"
       class="form-control"
       placeholder="Enviar mensaje">