/* You can add global styles to this file, and also import other style files */
.main-container {
  margin-top: 40px;
}

.puntero {
  cursor: pointer;
}


.chat-window {
  padding: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 1rem;
  border: 1px solid #6282c2;
  border-radius: 5px;
}

.app-mensajes {
  overflow-y: scroll;
  padding: 5px;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.img-user {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: .5rem;
}